{% extends 'SiteFrontEndBundle::baseTemplate.html.twig' %}
{% block title %} Fitness {% endblock  %}
{% block content %}
    	<!-- Clients -->
	<section id="clients" class="container">

		<!-- Team Inner -->
		<div class="inner team">

			<!-- Header -->
			<h1 class="header light gray3 fancy"><span class="colored">Our </span> Clients</h1>

			<!-- Description -->
			<p class="h-desc gray4">lorem Ipsum is<span class="colored bold">  lorem Ipsum</span> lorem Ipsum is simply dummy text of the printing and typesetting industry loremipsum. lorem Ipsum is simply dummy text of the printing and typesetting industry loremipsum is simple.</p>


			<!-- Members -->
			<div class="team-members inner-details">

				<!-- Member -->
				<div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="0">
					<div class="member-inner">
						<!-- Team Member Image -->
						<a class="team-image">
							<!-- Img -->
							<img src="/bundles/sitefrontend/images/clients/9.jpg" alt="" />
						</a>
						<div class="member-details">
							<div class="member-details-inner">
								<!-- Name -->
								<h2 class="member-name light">Lorem ipsum dolor</h2>
								<!-- Description -->
								<p class="member-description">Lorem ipsum dolor sit amet consectetur adipiscing.</p>
								<!-- Socials -->
								<div class="socials">
									<!-- Link -->
									<a href="#"><i class="fa fa-link"></i></a>
								</div><!-- End Socials -->
							</div> <!-- End Detail Inner -->
						</div><!-- End Details -->
					</div> <!-- End Member Inner -->
				</div><!-- End Member -->


				<!-- Member -->
				<div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="100">
					<div class="member-inner">
						<!-- Team Member Image -->
						<a class="team-image">
							<!-- Img -->
							<img src="/bundles/sitefrontend/images/clients/2.jpg" alt="" />
						</a>
						<div class="member-details">
							<div class="member-details-inner">
								<!-- Name -->
								<h2 class="member-name light">Lorem ipsum dolor</h2>
								<!-- Description -->
								<p class="member-description">Lorem ipsum dolor sit amet consectetur adipiscing.</p>
								<!-- Socials -->
								<div class="socials">
									<!-- Image -->
									<a href="#"><i class="fa fa-camera"></i></a>
								</div><!-- End Socials -->
							</div> <!-- End Detail Inner -->
						</div><!-- End Details -->
					</div> <!-- End Member Inner -->
				</div><!-- End Member -->


				<!-- Member -->
				<div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="200">
					<div class="member-inner">
						<!-- Team Member Image -->
						<a class="team-image">
							<!-- Img -->
							<img src="/bundles/sitefrontend/images/clients/3.jpg" alt="" />
						</a>
						<div class="member-details">
							<div class="member-details-inner">
								<!-- Name -->
								<h2 class="member-name light">Lorem ipsum dolor</h2>
								<!-- Description -->
								<p class="member-description">Lorem ipsum dolor sit amet consectetur adipiscing.</p>
								<!-- Socials -->
								<div class="socials">
									<!-- Link -->
									<a href="#"><i class="fa fa-link"></i></a>
								</div><!-- End Socials -->
							</div> <!-- End Detail Inner -->
						</div><!-- End Details -->
					</div> <!-- End Member Inner -->
				</div><!-- End Member -->


				<!-- Member -->
				<div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="300">
					<div class="member-inner">
						<!-- Team Member Image -->
						<a class="team-image">
							<!-- Img -->
							<img src="/bundles/sitefrontend/images/clients/4.jpg" alt="" />
						</a>
						<div class="member-details">
							<div class="member-details-inner">
								<!-- Name -->
								<h2 class="member-name light">Lorem ipsum dolor</h2>
								<!-- Description -->
								<p class="member-description">Lorem ipsum dolor sit amet consectetur adipiscing.</p>
								<!-- Socials -->
								<div class="socials">
									<!-- Image -->
									<a href="#"><i class="fa fa-camera"></i></a>
								</div><!-- End Socials -->
							</div> <!-- End Detail Inner -->
						</div><!-- End Details -->
					</div> <!-- End Member Inner -->
				</div><!-- End Member -->


				<!-- Member -->
				<div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="400">
					<div class="member-inner">
						<!-- Team Member Image -->
						<a class="team-image">
							<!-- Img -->
							<img src="/bundles/sitefrontend/images/clients/5.jpg" alt="" />
						</a>
						<div class="member-details">
							<div class="member-details-inner">
								<!-- Name -->
								<h2 class="member-name light">Lorem ipsum dolor</h2>
								<!-- Description -->
								<p class="member-description">Lorem ipsum dolor sit amet consectetur adipiscing.</p>
								<!-- Socials -->
								<div class="socials">
									<!-- Link -->
									<a href="#"><i class="fa fa-link"></i></a>
								</div><!-- End Socials -->
							</div> <!-- End Detail Inner -->
						</div><!-- End Details -->
					</div> <!-- End Member Inner -->
				</div><!-- End Member -->
                
				<!-- Member -->
				<div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="0">
					<div class="member-inner">
						<!-- Team Member Image -->
						<a class="team-image">
							<!-- Img -->
							<img src="/bundles/sitefrontend/images/clients/6.jpg" alt="" />
						</a>
						<div class="member-details">
							<div class="member-details-inner">
								<!-- Name -->
								<h2 class="member-name light">Lorem ipsum dolor</h2>
								<!-- Description -->
								<p class="member-description">Lorem ipsum dolor sit amet consectetur adipiscing.</p>
								<!-- Socials -->
								<div class="socials">
									<!-- Link -->
									<a href="#"><i class="fa fa-link"></i></a>
								</div><!-- End Socials -->
							</div> <!-- End Detail Inner -->
						</div><!-- End Details -->
					</div> <!-- End Member Inner -->
				</div><!-- End Member -->


				<!-- Member -->
				<div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="100">
					<div class="member-inner">
						<!-- Team Member Image -->
						<a class="team-image">
							<!-- Img -->
							<img src="/bundles/sitefrontend/images/clients/7.jpg" alt="" />
						</a>
						<div class="member-details">
							<div class="member-details-inner">
								<!-- Name -->
								<h2 class="member-name light">Lorem ipsum dolor</h2>
								<!-- Description -->
								<p class="member-description">Lorem ipsum dolor sit amet consectetur adipiscing.</p>
								<!-- Socials -->
								<div class="socials">
									<!-- Image -->
									<a href="#"><i class="fa fa-camera"></i></a>
								</div><!-- End Socials -->
							</div> <!-- End Detail Inner -->
						</div><!-- End Details -->
					</div> <!-- End Member Inner -->
				</div><!-- End Member -->


				<!-- Member -->
				<div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="200">
					<div class="member-inner">
						<!-- Team Member Image -->
						<a class="team-image">
							<!-- Img -->
							<img src="/bundles/sitefrontend/images/clients/8.jpg" alt="" />
						</a>
						<div class="member-details">
							<div class="member-details-inner">
								<!-- Name -->
								<h2 class="member-name light">Lorem ipsum dolor</h2>
								<!-- Description -->
								<p class="member-description">Lorem ipsum dolor sit amet consectetur adipiscing.</p>
								<!-- Socials -->
								<div class="socials">
									<!-- Link -->
									<a href="#"><i class="fa fa-link"></i></a>
								</div><!-- End Socials -->
							</div> <!-- End Detail Inner -->
						</div><!-- End Details -->
					</div> <!-- End Member Inner -->
				</div><!-- End Member -->                

				<!-- Member -->
				<div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="500">
					<div class="member-inner">
						<!-- Team Member Image -->
						<a class="team-image">
							<!-- Img -->
							<img src="/bundles/sitefrontend/images/clients/1.jpg" alt="" />
						</a>
						<div class="member-details">
							<div class="member-details-inner">
								<!-- Name -->
								<h2 class="member-name light">Lorem ipsum dolor</h2>
								<!-- Description -->
								<p class="member-description">Lorem ipsum dolor sit amet consectetur adipiscing.</p>
								<!-- Socials -->
								<div class="socials">
									<!-- Image -->
									<a href="#"><i class="fa fa-camera"></i></a>
								</div><!-- End Socials -->
							</div> <!-- End Detail Inner -->
						</div><!-- End Details -->
					</div> <!-- End Member Inner -->
				</div><!-- End Member -->
			</div><!-- End Members -->
		</div><!-- End Team Inner -->
	</section><!-- End Team Section -->	
{% endblock %}