{% extends 'SiteFrontEndBundle::baseTemplate.html.twig' %}
{% block title %} Fitness {% endblock  %}
{% block content %}
    	<!-- Testimonials -->
	<section id="testimonial" class="testimonials parallax2">

		<div class="inner">

			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
			    <div class="item active">
			    	<ul>
				     <li class="monial">
						<!-- Text -->
						<h1 class="condensed white">"<span class="colored">Lorem ipsum dolor</span> sit amet, consectetur adipiscing elit. Cras euismod vestibulum orci, mollis vulpute felis dapibus sed. Nam ullamcorper congue elit."</h1>
						<!-- Name -->
						<p class="light">John Doe</p>
					</li>
					</ul>
			    </div>
			    <div class="item">
			      <ul>
			      <li class="monial">
						<!-- Text -->
						<h1 class="condensed white"><span class="colored">Lorem ipsum dolor</span> sit amet, consectetur adipiscing elit. Cras euismod vestibulum orci, mollis vulputate felis dapibus sed. Nam ullamcorper congue elit."</h1>
						<!-- Name -->
						<p class="light">Jane Doe</p>
					</li>
				</ul>	
			    </div>
			    <div class="item">
			    <ul>
			      <li class="monial">
						<!-- Text -->
						<h1 class="condensed white">"<span class="colored">Lorem ipsum dolor</span> sit amet, consectetur adipiscing elit. Cras euismod vestibulum orci, mollis vulputate felis dapibus sed. Nam ullamcorper congue elit."</h1>
						<!-- Name -->
						<p class="light">Severe Dane</p>
					</li>
				</ul>	
			    </div>
			  </div>

			 
			</div>  

					</div><!-- End Inner Div -->

	</section><!-- End Testimonials Section -->	
{% endblock %}